
$color1 : #00BFBA;
$color2 :#06AEBF;

.box--title--services{
    text-align: center;
    font-size: 35px;
    margin-top: 100px;

    h6{
        font-size:25px;
    }

    h3{
        font-size: 50px;
        color: $color1;
    }
}


.box-services{
    margin-top: 50px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .p-services{
        font-size: 17px;
        margin-top: 30px;
    }

    .box--generaliste{
        background: $color1;
        padding: 65px 20px;
        border-radius: 20px;
        grid-row: 2/3;

        > h4{
            margin-top: -5px;
            font-size: 24px;
        }
    }
    
    .box--dermatologie{
        background: $color1;
        padding: 30px 20px;
        border-radius: 20px;
        grid-column: 2/3;

        > h4{
            margin-top: 15px;
            font-size: 24px;
        }
    }

    .box--cardialogie{
        background: $color1;
        padding: 30px 40px;
        border-radius: 20px;
        grid-column: 3/4;
        grid-row: 2/3;

        > h4{
            margin-top:17px;
            font-size: 24px;
        }
    }
    

    .box--covid{
        background: $color1;
        padding: 70px 100px;
        grid-column: 2/3;
        grid-row: 3/4;
        border-radius: 20px;

        > h4{
            margin-top: -5px;
            font-size: 24px;
        }
    }
}

@media screen and (max-width:800px){
    .box-services{
        display: flex;
        flex-direction: column;

        .box--generaliste{
            padding: 50px 10px;
        }
        

        .box--dermatologie{
            padding: 50px 0px;
            margin-top: 20px;
        }

        .box--cardialogie{
            padding: 50px 0px;
            margin-top: 20px;
        }
        


        .box--covid{
            padding: 50px 0px;
            margin-top: 20px;
        }


      
    }
}